{% extends 'base.html' %}

{% block title %}
Pet detail
{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Welcome to meet, {{pet.name}}</h1>
  <p class="lead">Species: {{pet.species}}</p>
  <hr class="my-4">
  <img src={{pet.photo_url}} alt="">
  <p>Age: {{pet.age}}</p>
  <p>Available: {{pet.available}}</p>
  <p>Note: {{pet.notes}}</p>
  <a class="btn btn-primary btn-lg" href="/pets/{{pet.id}}/edit" role="button">Edit</a>
  <a class="btn btn-secondary btn-lg" href="/" role="button">Back to home</a>
</div>

{% endblock %}